extend ../../layouts/default.pug
include ../../mixins/alert
block main 
  +alert-error(3000)
  +alert-success(3000)
  h1(class="mb-4") Chỉnh sửa sản phẩm
  
  form(action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH` method="POST" id="form-edit-product" enctype="multipart/form-data")
    div(class="form-group")
      label(for="title") Tiêu đề:
      input(type="text" id="title" value=product.title name="title" class="form-control" required)

    div(class="form-group")
      label(for="desc") Mô tả:
      textarea(id="desc"  name="description" class="form-control" rows = "5" ) #{product.description}

    div(class="form-group")
      label(for="price") Giá:
      input(type="number" id="price" name="price"  class="form-control" value=product.price min="0" required)

    div(class="form-group")
      label(for="discount") Giảm giá:
      input(type="number" id="discount" name="discountPercentage" value=product.discountPercentage min="0" class="form-control")

    div(class="form-group" )
      label(for="quantity") Số lượng:
      input(type="number" id="stock" class="form-control" name="stock"  value=product.stock min="0" required)
     
    div(class="form-group" upload-image)
      label(for="thumbnail") Ảnh:
      input(type="file" id="thumbnail" name="thumbnail" class="form-control-file" upload-image-input accept="image/*")
      img(src=product.thumbnail alt="" class="image-preview" upload-image-preview)

    div(class="form-group")
      label(for="position") Vị trí:
      input(type="text" value=product.position id="position" name="position")

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
       checked = product.status === 'active' ? true : false

      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked = product.status === 'inactive' ? true : false
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động

         
    div(class="form-group")
      button(type="submit" class="btn btn-primary") Cập nhật

  script(src="/admin/js/product.js") 