extends ../../layouts/default.pug
include ../../mixins/alert

block main 
  if (role.permissions.includes("accounts_edit"))
    +alert-error(3000)
    +alert-success(3000)
    h1(class="mb-4") Chỉnh sửa sản phẩm
    if(roles)
      form(action=`${prefixAdmin}/accounts/edit/${records.id}?_method=PATCH` method="POST" enctype="multipart/form-data")
        div(class="form-group")
          label(for="fullName") Họ tên *
          input(type="text" id="fullName" name="fullName" class="form-control" value=records.fullName required)

        div(class="form-group")
          label(for="email") Email *
          input(type="email" id="email" name="email" class="form-control" value=records.email required)

        div(class="form-group")
          label(for="password") Mật Khẩu *
          input(type="password" id="password" name="password" class="form-control")

        div(class="form-group")
          label(for="phone") Số điện thoại
          input(type="text" id="phone" name="phone" value=records.phone class="form-control")

        div(class="form-group" upload-image)
          label(for="avatar") Avatar
          input(type="file" id="avatar" name="avatar" accept="image/*" class="form-control-file" upload-image-input)
          img(src=records.avatar class="image-preview" upload-image-preview)

        div(class="form-group")
          label(for="role_id") Phân quyền
          select(name="role_id" id="role_id" class="form-control")
            option(disabled) -- Chọn --
            each item in roles
              option(value=item.id selected = item.id == records.role_id ? true : false) #{item.title}
            

        div(class="form-group form-check form-check-inline")
          input(type="radio" id="statusActive" name="status" value="active" class="form-check-input" checked = records.status === "active" ? true : false)
          label(for="statusActive" class="form-check-label") Hoạt động

        div(class="form-group form-check form-check-inline")
          input(type="radio" id="statusInActive" name="status" value="inactive" class="form-check-input" checked = records.status === "inactive" ? true : false)
          label(for="statusInActive" class="form-check-label") Dừng hoạt động

        div(class="form-group")
          button(type="submit" class="btn btn-primary") Tạo mới
    else 
      p vui lòng tạo nhóm quyền trước khi tạo tài khoản 
      p 
        a(href=`${prefixAdmin}/roles/create` class="btn btn-secondary") Tạo nhóm quyền