extends ../../layouts/default.pug
include ../../mixins/alert
include ../../mixins/select-tree.pug

block main 
  +alert-error(3000)
  h1(class="mb-4") Thêm mới danh mục sản phẩm

  form(action=`${prefixAdmin}/products-category/create` method="POST" enctype="multipart/form-data")

    div(class="form-group")
      label(for="title") Tiêu đề:
      input(type="text" id="title" name="title" class="form-control" required)

    //- div(class="form-group")
    //-   label(for="parent_id") Danh mục cha
    //-   input(type="text" id="parent_id" name="parent_id" class="form-control")
    div(class="form-group")
      label(for="parent_id") Danh mục cha
      select(name="parent_id" id="parent_id" class="form-control")
        option(value="") -- danh mục cha --
        if (records)
          +select-tree(records)

    div(class="form-group")
      label(for="desc") Mô tả:
      textarea( type="text" id="desc"  name="description" class="form-control textarea-mce" rows = "5" )
     
    div(class="form-group" upload-image)
      label(for="thumbnail") Ảnh:
      input(type="file" id="thumbnail" name="thumbnail" class="form-control-file" upload-image-input accept="image/*")
      img(src="" alt="" class="image-preview" upload-image-preview)

    div(class="form-group")
      label(for="position") Vị trí:
      input(type="number" id="position" name="position" class="form-control" placeholder="Tự động tăng" min="1")

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động

         
    div(class="form-group")
      button(type="submit" class="btn btn-primary") Tạo mới
